/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Color scheme */
:root {
    --blackish: #202020;    
    --dark-grey: #3F3F3F;    
    --medium-grey: #707070;    
    --egg-yellow: #FFE06C;    
    --white: #FFFFFF;
}

html {
    font-family: 'Sarala', sans-serif;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

.center {
    margin: 0 auto;
}

.row {
    display: flex;
}

.hidden {
    display: none;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.container {
    border: 2px solid rebeccapurple;
    width: 80%;
    max-width: 1200px;    
}

.game {
    justify-content: center;
    gap: 1em;
    border: 2px solid purple;
    margin: 3rem auto;
}

.choice {
    font-size: 6em;
}

.game button {
    text-decoration: none;
    /* border: none; */
    background: none;
}

.title {
    border: 2px solid yellow;
    text-align: center;
}

.result {
    border: 2px solid pink;
    width: 80%;
    margin: 0 auto;
    flex-basis: 33.33333%;
    align-items: center;
    gap: 2em;
}